<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

  <connectionStrings>
    
    <!--<add name="ECommerceAdmin" connectionString="Data Source=184.154.104.114\MSSQLSERVER2012;Initial Catalog=TaskManager;uid=patkarns;pwd=Patkar@123;pooling='true'" providerName="System.Data.SqlClient" />-->
    
    
    <!--<add name="ECommerceAdmin" connectionString="Data Source=103.92.235.118;Initial Catalog=buddhaco_TECHNOCRM;uid=buddhaco_anantcrm;pwd=CRM@123;pooling='true'" providerName="System.Data.SqlClient" />
    <add name="ECommerceAdminLocal" connectionString="Data Source=THUNDER\TZ;Initial Catalog=GoldiGreen;Integrated Security=True" providerName="System.Data.SqlClient" />-->

    <add name="ECommerceAdmin" connectionString="Data Source=DESKTOP-3C6JS5P\SA;Initial Catalog=TaskManager;uid=sa;pwd=sa@123;pooling='true'" providerName="System.Data.SqlClient" />

    <add name="ECommerceAdminLocal" connectionString="Data Source=THUNDER\TZ;Initial Catalog=GoldiGreen;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HRD=No'" />
    <add name="Excel07+ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HRD=No'" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
</configuration>